body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: white;
}
header {
  text-align: center;
  padding: 20px 0;
  background: #111;
}
h1 {
  font-size: 2.5em;
  color: #00ff66;
}
.leaderboard-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
}
.leaderboard-box {
  background: #111;
  padding: 20px;
  margin: 10px;
  width: 45%;
  border: 1px solid #333;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-size: 1.8em;
  color: #99ff33;
  margin-bottom: 10px;
}
.tabs {
  text-align: center;
  margin-bottom: 10px;
}
.tab-button {
  background: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.tab-button.active {
  background: #00ff66;
  color: black;
}
.leaderboard-table table {
  width: 100%;
  border-collapse: collapse;
}
.leaderboard-table th, .leaderboard-table td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
}
.leaderboard-table th {
  background: #222;
  color: #99ff33;
}
